__pycache__/
envname/
envname*/
environment/*local*
venv/
.idea/
.tox
celery_management/
celerybeat-schedule
*.pyc
*.sqlite
app_configurations/settings.py
.DS_Store
*.log
/*.sql
*.log.*
redemption_*.json
.cache/
env/
pyenv35/
*.coverage
erl_crash.*
tests/*/logs
tests/.pytest_cache/
.coverage*
erl_crash.*
junit-*.xml
.entertainer_cache/
.python-version
.vscode/
.tablet_api_cache/
--git-common-dir/
*.conf
instance/local*.py
*.conf
server_configurations/
envname3.7/
venv*
1
*.run.xml
.run/
.run/*
*local*
models
models/*
